# ======================
# Maven
# ======================
target/
.mvn/wrapper/maven-wrapper.jar

# ======================
# Selenium artifacts
# ======================
screenshots/
videos/
downloads/

# ======================
# Logs & reports
# ======================
logs/
*.log
test-output/
surefire-reports/
failsafe-reports/

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iws
*.iml
*.ipr

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Eclipse / NetBeans
# ======================
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
nbproject/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
